---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>正文</h1>
  <!--
  <ul class="posts">
    
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  
    测试1
  </ul>

  <div class="posts">
    测试2
    {% for post in site.posts %}
    <span>{{ post.date | date_to_string }}</span> &raquo; <a
      href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    {% endfor %}
  </div>
  -->

  {{ content }}

</div>