<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1"
        src="{{site.baseurl}}/assets/res/xz.jpg"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">小曾是一位 <span id="js-rotating">又傻, 又凶, 又可恶, 又固执</span> 的女孩子。</h4>
  </div>
  <div class="user-content">
    <p>
      傻：很会照顾别人却不会照顾自己<br>
      凶：第一次我打电话的阴影目前还在<br>
      可恶：经常逃出我的圈套，发现我的秘密，啃我手指头
    </p>
    <div class="divider"></div>
    <p>
      算了还是夸夸她吧:<br>
      又凶，又傻，又可恶，还，很可恶。
    </p>
  </div>
</div>
