<meta http-equiv="Access-Control-Allow-Origin" content="*">
<div class="col s12 tag-div">
    <script>
        var url = 'https://api.seniverse.com/v3/weather/daily.json?key=SzKBOBB-BccQPO3td&location=定西&language=zh-Hans&unit=c&start=0&days=5';
        var httpRequest = new XMLHttpRequest();//第一步：建立所需的对象
        httpRequest.open('GET', url, true);//第二步：打开连接  将请求参数写在url中  ps:"./Ptest.php?name=test&nameone=testone"
        httpRequest.send();//第三步：发送请求  将请求参数写在URL中
        /**
         * 获取数据后的处理程序
         */
        httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                var json = httpRequest.responseText;//获取到json字符串，还需解析
                alert(json);
            }
        };

    </script>
</div>