<div id="weather-view-he" style="margin: auto !important"></div>
<script>
    WIDGET = { ID: 'GpRKsroPNP' };
</script>
<script type="text/javascript" src="https://apip.weatherdt.com/view/static/js/r.js?v=1111"></script>
<div class="col s12 tag-div">

    <!-- cutezeng -->



    <!-- <div class="divider"></div><br>
    <a class="waves-effect" style="font-size: 13px"><i
            class="material-icons">notifications_active</i>还是要注意看窗外天气备伞哦，有时候不准确的。</a><br>
    <a class="waves-effect" style="font-size: 13px;color: #cd45d9;"><i
            class="material-icons">info</i>最新预报:今夜到明天上午有点想你，预计下午转为持续想你。受低潮情绪影响，夜晚将转为大到暴想，心情降低5摄氏度。预计此类天气将会持续到见你为止。</a> -->
</div>
<div id="tp-weather-widget" style="background: #666"></div>
<script>
    (function (T, h, i, n, k, P, a, g, e) {
        g = function () {
            P = h.createElement(i);
            a = h.getElementsByTagName(i)[0];
            P.src = k;
            P.charset = "utf-8";
            P.async = 1;
            a.parentNode.insertBefore(P, a)
        };
        T["ThinkPageWeatherWidgetObject"] = n;
        T[n] || (T[n] = function () {
            (T[n].q = T[n].q || []).push(arguments)
        });
        T[n].l = +new Date();
        if (T.attachEvent) {
            T.attachEvent("onload", g)
        } else {
            T.addEventListener("load", g, false)
        }
    }(window, document, "script", "tpwidget", "//widget.seniverse.com/widget/chameleon.js"))
</script>
<script>
    tpwidget("init", {
        "flavor": "slim",
        "location": "WX4FBXXFKE4F",
        "geolocation": "enabled",
        "language": "zh-chs",
        "unit": "c",
        "theme": "chameleon",
        "container": "tp-weather-widget",
        "bubble": "enabled",
        "alarmType": "badge",
        "color": "#FFFFFF",
        "uid": "UB6953924F",
        "hash": "ce68b5b7b447ec5bda327f8c9c2d59f9"
    });
    tpwidget("show");
</script>